apiVersion: v1
kind: Namespace
metadata:
  labels:
    control-plane: ibm-commonui-operator
  name: system
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: ibm-commonui-operator
  labels:
    app.kubernetes.io/instance: ibm-commonui-operator
    app.kubernetes.io/managed-by: ibm-commonui-operator
    app.kubernetes.io/name: ibm-commonui-operator
spec:
  replicas: 1
  selector:
    matchLabels:
      name: ibm-commonui-operator
  template:
    metadata:
      labels:
        name: ibm-commonui-operator
        app.kubernetes.io/instance: ibm-commonui-operator
        app.kubernetes.io/managed-by: ibm-commonui-operator
        app.kubernetes.io/name: ibm-commonui-operator
        intent: projected
      annotations:
        productName: IBM Cloud Platform Common Services
        productID: "068a62892a1e4db39641342e592daa25"
        productVersion: "3.4.0"
        productMetric: FREE
        "openshift.io/scc": "restricted"
    spec:
      serviceAccountName: ibm-commonui-operator
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: kubernetes.io/arch
                operator: In
                values:
                - amd64
                - ppc64le
                - s390x
      containers:
        - name: manager
          # Replace this with the built image name
          image: icr.io/cpopen/ibm-commonui-operator:1.17.6
          command:
          - ibm-commonui-operator
          imagePullPolicy: Always
          env:
            - name: WATCH_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: COMMON_WEB_UI_IMAGE
              value: "icr.io/cpopen/cpfs/common-web-ui:1.17.6"
          livenessProbe:
            failureThreshold: 10
            httpGet:
              path: /healthz
              port: 8081
            initialDelaySeconds: 120
            periodSeconds: 60
            timeoutSeconds: 10
          readinessProbe:
            failureThreshold: 10
            httpGet:
              path: /readyz
              port: 8081
            initialDelaySeconds: 3
            periodSeconds: 20
            timeoutSeconds: 3
          resources:
            limits:
              cpu: 40m
              memory: 150Mi
            requests:
              cpu: 10m
              memory: 25Mi
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
              - ALL
            privileged: false
            readOnlyRootFilesystem: true
            runAsNonRoot: true

