---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: ibm-commonui-operator
  namespace: {{.Values.global.operatorNamespace}}
  labels:
    app.kubernetes.io/instance: ibm-commonui-operator
    app.kubernetes.io/name: ibm-commonui-operator
    component-id: {{.Chart.Name}}
    {{- if .Values.cpfs }}
      {{- if .Values.cpfs.labels }}
        {{- with .Values.cpfs.labels }}
          {{- toYaml . | nindent 4 }}
        {{- end }}
      {{- end}}
    {{- end}}
{{- $watchNamespaces := .Values.global.tetheredNamespaces | default list -}}
{{- if .Values.global.instanceNamespace -}}
{{- $watchNamespaces = append $watchNamespaces .Values.global.instanceNamespace -}}
{{- end -}}
{{- $watchNamespaces = prepend $watchNamespaces .Values.global.operatorNamespace -}}
{{- range $namespace := $watchNamespaces | uniq }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  labels:
    app.kubernetes.io/instance: ibm-commonui-operator
    app.kubernetes.io/name: ibm-commonui-operator
    rbac.authorization.k8s.io/aggregate-to-admin: "true"
    component-id: {{$.Chart.Name}}
    {{- if $.Values.cpfs }}
      {{- if $.Values.cpfs.labels }}
        {{- with $.Values.cpfs.labels }}
          {{- toYaml . | nindent 4 }}
        {{- end }}
      {{- end}}
    {{- end}}
  name: ibm-commonui-operator
  namespace: {{$namespace}}
rules:
- apiGroups:
  - route.openshift.io
  resources:
  - routes
  verbs:
  - get
  - list
  - watch
  - create
  - delete
  - update
  - patch
- apiGroups:
  - route.openshift.io
  resources:
  - routes/custom-host
  verbs:
  - create
- apiGroups:
  - route.openshift.io
  resources:
  - routes/status
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - rbac.authorization.k8s.io
  resources:
  - roles
  - rolebindings
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - pods
  - services
  - services/finalizers
  - configmaps
  - secrets
  - serviceaccounts
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apps
  resources:
  - deployments
  - daemonsets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apps
  resourceNames:
  - common-webui
  resources:
  - deployments/finalizers
  verbs:
  - update
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - get
- apiGroups:
  - apps
  resources:
  - replicasets
  - deployments
  - statefulsets
  verbs:
  - get
  - list
- apiGroups:
  - networking.k8s.io
  resources:
  - ingresses
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - operator.ibm.com
  resources:
  - commonservices
  verbs:
  - get
  - list
- apiGroups:
  - operators.ibm.com
  resources:
  - commonwebuis
  - commonwebuis/finalizers
  - commonwebuis/status
  - switcheritems
  - switcheritems/finalizers
  - switcheritems/status
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - foundation.ibm.com
  resources:
  - navconfigurations
  - navconfigurations/finalizers
  - navconfigurations/status
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - certmanager.k8s.io
  resources:
  - certificates
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - cert-manager.io
  resources:
  - certificates
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - batch
  resources:
  - jobs
  verbs:
  - get
- apiGroups:
  - operator.ibm.com
  resources:
  - operandrequests
  verbs:
  - delete
  - get
  - list
- apiGroups:
  - operator.ibm.com
  resources:
  - authentications
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - autoscaling
  resources:
  - horizontalpodautoscalers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
---
kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: ibm-commonui-operator
  namespace: {{$namespace}}
  labels:
    app.kubernetes.io/instance: ibm-commonui-operator
    app.kubernetes.io/name: ibm-commonui-operator
    component-id: {{$.Chart.Name}}
    {{- if $.Values.cpfs }}
      {{- if $.Values.cpfs.labels }}
        {{- with $.Values.cpfs.labels }}
          {{- toYaml . | nindent 4 }}
        {{- end }}
      {{- end}}
    {{- end}}
subjects:
- kind: ServiceAccount
  name: ibm-commonui-operator
  namespace: {{$.Values.global.operatorNamespace}}
roleRef:
  kind: Role
  name: ibm-commonui-operator
  apiGroup: rbac.authorization.k8s.io
{{- end }}
